/* CSS */


.profile-button {
  appearance: none;
  background-color: lightgrey;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin-right: 10px;
}

.profile-button a {
  text-decoration: none;
  color: black;
}

.profile-button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.profile-button:hover {
  background-color: lightpink;
}

.profile-button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.profile-button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.profile-button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.active {
    background-color: lightpink;
}

.photo {
  width: 200px;
  float: left;
}

.top-profile {
  background: linear-gradient(#e66465, #9198e5);
  height: 300px;
  
}

.top-profile h1 {
  display: inline;
}

.avatar-image {
  border-radius: 50%;
  max-height: 200px;
  margin-left: 50px;
  margin-top: 50px;
}

.center-profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 20px;
}

.about-me {
  text-align: center;
}

.quality-box {
  background-color: lightgrey;
  width: 400px;
  height: 300px;
  float: left;
}
.progress-right {
  margin-right: 5px;
}

.progress-left {
  margin-left: 5px;
}

.progress {
  margin-top: 10px
}

.user-info {
  text-align: left;
  width: 600px;
  float: right;
}