.thread-boards{
    background: lightgray;
    border-radius: 10px;
}
.thread-boards h2{
    margin-left: 10px;
}
.threads{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
}
.individualThread{
    background: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}